<div class="jumbotron <%= @color %> ">
  <h1 class="display-4"><%= @final_output %></h1>
  <% if @output.empty? %>
  <p class="lead">Data not avilaible</p>
  <% else %>
  <p class="lead">This is the current Ozone air quality readout for <%= @area %> <%=@message %></p>
  <% end %>

  <hr class="my-4">
  <p>Hit "Reload" in your browser to update the reading.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

</br>





