// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.orange {
	background-color: orange;
	color: white;
}

.green {
	background-color: green;
}


.red {
	background-color: red;
}

.silver {
	background-color: silver;
}

.blue {
	background-color: blue;
}
